div.main-item-box-vol.int > div.header-button.button-01 {
  right: 124px;
}
div.main-item-box-vol.int > div.header-button.button-02 {
  right: 64px;
}
div.main-item-box-vol.int > div.header-button.hovered {
  color: #ff6709;
}

div.main-item-box-vol.int > div.button-01.hovered::after {
  content: "";
  display: block;
  width: 32px;
  height: 0;
  border: 1px solid #ff6709;
  position: absolute;
  left: 0;
  bottom: 15px;
}
div.main-item-box-vol.int > div.button-02.hovered::after {
  content: "";
  display: block;
  width: 32px;
  height: 0;
  border: 1px solid #ff6709;
  position: absolute;
  left: 0;
  bottom: 15px;
}
div.main-item-box-vol.int > div.button-03.hovered::after {
  content: "";
  display: block;
  width: 32px;
  height: 0;
  border: 1px solid #ff6709;
  position: absolute;
  left: 0;
  bottom: 15px;
}

div.main-item-box-vol > .box-03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1226px;
  height: 614px;
  position: absolute;
  top: 58px;
  left: 0;
}
div.main-item-box-vol > .box-03 > span.box-item {
  display: block;
  width: 234px;
  height: 300px;
  padding: 20px 0;
  margin-bottom: 14px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
}
div.main-item-box-vol > .box-03 > span.box-item:nth-of-type(1),
div.main-item-box-vol > .box-03 > span.box-item:nth-of-type(6) {
  padding: 0;
}
div.main-item-box-vol > .box-03 > span.half-container {
  width: 234px;
  height: 300px;
  margin-bottom: 14px;
  display: flow-root;
  float: left;
  padding: 0;
  position: relative;
}
div.main-item-box-vol.int > .box-03 > span.half-container {
  margin-right: 248px;
}
div.main-item-box-vol > .box-03 span.box-item-half {
  display: block;
  width: 234px;
  height: 143px;
  padding: 20px 0;
  font-size: 14px;
  position: absolute;
  background-color: #fff;
}
div.main-item-box-vol > .box-03 span.box-item-half:nth-of-type(2) {
  bottom: 0;
}
div.box-03 .box-item > span.box-item-image {
  display: block;
  width: 160px;
  height: 160px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 14px;
  background-size: cover;
  background-repeat: no-repeat;
}

div.box-03 .box-item:nth-of-type(1) > span.box-item-image,
div.box-03 .box-item:nth-of-type(6) > span.box-item-image {
  display: block;
  padding: 0;
  width: 234px;
  height: 300px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
}
div.box-03 .box-item > span.box-item-title {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
}
div.box-03 .box-item > span.box-item-description {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
div.box-03 .box-item > p.price {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #ff6709;
  overflow: hidden;
  white-space: nowrap;
}
div.box-03 .box-item > p.price > span.box-item-oldprice {
  text-decoration: line-through;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}
div.box-03 .half-container > .box-item-half > .box-item-title {
  display: inline-block;
  width: 94px;
  height: 42px;
  margin: 20px 110px 5px 30px;
  font-size: 14px;
  font-weight: 400;
}
div.box-03 .half-container > .box-item-half > p.price > .box-item-price {
  display: inline-block;
  width: 94px;
  height: auto;
  margin: 0 110px 0 30px;
  font-size: 14px;
  color: #ff6700;
}
div.box-03 .half-container > .box-item-half > .box-item-image {
  display: block;
  width: 80px;
  height: 80px;
  background-color: black;
  position: absolute;
  right: 15px;
  top: 30px;
}

div.box-03 .half-container > .box-item-half > .box-item-more {
  display: block;
  margin: 30px 110px 0 30px;
  font-size: 18px;
  color: #333;
}
div.box-03 .half-container > .box-item-half > .box-item-more > .box-item-hot {
  display: block;
  font-size: 12px;
  color: #757575;
  margin-top: 5px;
}
div.box-03 .half-container > .box-item-half > .icono-caretRightCircle {
  display: block;
  position: absolute;
  right: 30px;
  top: 50px;
  color: #ff6709;
  transform: scale(1.6, 1.6);
}

.main-item-box-vol.int div.header-button.button-01.hovered {
  animation: 1ms forwards paused in;
}
.main-item-box-vol.int div.header-button.button-02.hovered {
  animation: 1ms forwards paused out;
}
.main-item-box-vol.int div.header-button.button-03.hovered {
  animation: 1ms forwards paused out;
}
.main-item-box-vol.int .button-01.unhover:hover ~ .button-01.hovered {
  animation-name: out;
  animation-fill-mode: both;
  animation-play-state: running;
}
.main-item-box-vol.int .button-01.unhover:hover ~ .button-02.hovered {
  animation-name: in;
  animation-fill-mode: both;
  animation-play-state: running;
}
.main-item-box-vol.int .button-01.unhover:hover ~ .button-03.hovered {
  animation-name: in;
  animation-fill-mode: both;
  animation-play-state: running;
}
.main-item-box-vol.int .button-02.unhover:hover ~ .button-02.hovered {
  animation-name: out;
  animation-fill-mode: both;
  animation-play-state: running;
}
.main-item-box-vol.int .button-02.unhover:hover ~ .button-01.hovered {
  animation-name: in;
  animation-fill-mode: both;
  animation-play-state: running;
}
.main-item-box-vol.int .button-02.unhover:hover ~ .button-03.hovered {
  animation-name: in;
  animation-fill-mode: both;
  animation-play-state: running;
}
.main-item-box-vol.int .button-03.unhover:hover ~ .button-01.hovered {
  animation-name: in;
  animation-fill-mode: both;
  animation-play-state: running;
}
.main-item-box-vol.int .button-03.unhover:hover ~ .button-02.hovered {
  animation-name: in;
  animation-fill-mode: both;
  animation-play-state: running;
}
.main-item-box-vol.int .button-03.unhover:hover ~ .button-03.hovered {
  animation-name: out;
  animation-fill-mode: both;
  animation-play-state: running;
}

.main-item-box-vol.int > .box-02,
.main-item-box-vol.int > .box-03 {
  background-color: #f5f5f5;
  visibility: hidden;
  transition-delay: 3600s;
}
.main-item-box-vol.int .button-01.unhover:hover ~ div.box-01 {
  visibility: visible;
  transition-delay: 0s;
}
.main-item-box-vol.int .button-01.unhover:hover ~ div.box-02 {
  visibility: hidden;
  display: none;
  transition-delay: 0s;
}
.main-item-box-vol.int .button-01.unhover:hover ~ div.box-03 {
  visibility: hidden;
  display: none;
  transition-delay: 0s;
}
.main-item-box-vol.int .button-02.unhover:hover ~ div.box-02 {
  visibility: visible;
  transition-delay: 0s;
}
.main-item-box-vol.int .button-02.unhover:hover ~ div.box-01 {
  visibility: hidden;
  display: none;
  transition-delay: 0s;
}
.main-item-box-vol.int .button-02.unhover:hover ~ div.box-03 {
  visibility: hidden;
  display: none;
  transition-delay: 0s;
}
.main-item-box-vol.int .button-03.unhover:hover ~ div.box-03 {
  visibility: visible;
  transition-delay: 0s;
}
.main-item-box-vol.int .button-03.unhover:hover ~ div.box-01 {
  visibility: hidden;
  display: none;
  transition-delay: 0s;
}
.main-item-box-vol.int .button-03.unhover:hover ~ div.box-02 {
  visibility: hidden;
  display: none;
  transition-delay: 0s;
}
