/* Item box global config */
div.main-item-box.video {
  display: block;
  position: relative;
  width: 1226px;
  height: 387px;
  margin: auto;
}
div.main-item-box.video > div.box-header {
  display: block;
  width: 1226px;
  height: 58px;
  position: relative;
}
div.main-item-box.video > div.box-header > h2 {
  display: block;
  width: auto;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
}
div.main-item-box.video > div.box-header > .header-button {
  display: block;
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  transition: all 400ms;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 200ms ease;
  cursor: pointer;
}
div.main-item-box.video
  > div.box-header
  > .header-button
  i.icono-caretRightCircle {
  margin-top: -3px;
  transform: scale(0.7, 0.7);
}
div.main-item-box.video > .box-01 {
  display: flow-root;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  top: 58px;
  width: 1240px;
  height: 299px;
  font-size: 0;
}
/* Mobile Phone item box hover effect */
div.main-item-box.video > div.box-header > .header-button:hover {
  color: #f57c00;
  transition: all 200ms ease;
}
div.main-item-box.video > .box-01 span.box-item:hover {
  margin-top: -2px;
  box-shadow: 5px 0px 15px -5px rgba(133, 133, 133, 0.5),
    -5px 0px 15px -5px rgba(133, 133, 133, 0.5),
    0px 5px 15px -5px rgba(133, 133, 133, 0.5);
  transition: all 200ms ease;
}
div.main-item-box.video > .box-01 span.box-item:hover span.play-button {
  background-color: #f57c00;
  border-color: #f57c00;
  transition: all 200ms ease;
}
/* Mobile Phone item box config */
div.video > .box-01 > span {
  position: relative;
  float: left;
  width: 296px;
  height: 285px;
  margin-left: 14px;
  margin-bottom: 14px;
  text-align: center;
  background: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  transition: all 200ms ease;
  cursor: pointer;
}
/* Mobile Phone item box content config */
div.video > .box-01 > .box-item > span.box-item-image {
  display: block;
  width: 296px;
  height: 180px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: grey;
  position: relative;
}
div.video > .box-01 > .box-item > h3.video-title {
  margin: 30px 14px 6px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
}
div.video > .box-01 > .box-item .play-button {
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: 32px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: #424242;
  color: #fff;
  transition: all 0.2s;
}
div.video > .box-01 > .box-item .play-button > i.icono-play {
  position: absolute;
  top: -9px;
  left: -2px;
  transform: scale(0.5, 0.5);
}
/* Mobile Phone item box image config */
div.video > .box-01 > .box-item:nth-of-type(1) > span.box-item-image {
  background-image: url(banner/video/01.webp);
}
div.video > .box-01 > .box-item:nth-of-type(2) > span.box-item-image {
  background-image: url(banner/video/02.webp);
}
div.video > .box-01 > .box-item:nth-of-type(3) > span.box-item-image {
  background-image: url(banner/video/03.webp);
}
div.video > .box-01 > .box-item:nth-of-type(4) > span.box-item-image {
  background-image: url(banner/video/04.webp);
}
