/* Channel block style */
div.channel-ad {
  position: relative;
  width: 1226px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  scroll-behavior: smooth;
}
div.channel-ad > div.channel {
  display: inline-block;
  width: 234px;
  height: 170px;
  padding: 3px;
  font-size: 0;
  background-color: #5f5750;
}
div.channel-ad > div.channel > div {
  display: inline-block;
  padding: 15px 3px 0 3px;
  width: 76px;
  height: 82px;
  font-size: 12px;
  float: left;
  color: #cfccca;
  cursor: pointer;
  transition: 100ms ease;
}
div.channel-ad > div.channel > div > i {
  display: block;
  margin: auto;
}
div.channel-ad > div.channel > div > span {
  display: block;
  text-align: center;
  margin-top: 5px;
}
div.channel-ad > div.channel > div.channel-02 > i {
  margin-top: 14px;
}
div.channel-ad > div.channel > div.channel-05 > span {
  margin-top: 11px;
}
div.channel-ad > div.channel > div:hover {
  color: #ffffff;
  transition: 100ms ease;
}
/* Ad image style */
div.channel-ad > div.ad-group {
  width: 992px;
  height: 170px;
  float: right;
}
div.channel-ad > div.ad-group::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div.channel-ad > div.ad-group > span {
  display: block;
  width: 316px;
  height: 170px;
  float: right;
  margin-left: 14px;
  cursor: pointer;
}
div.channel-ad > div.ad-group > span.ad01 {
  background-image: url(ad-channel/xiaomishouhuan4-ad.jpg);
  background-size: contain;
}
div.channel-ad > div.ad-group > span.ad02 {
  background-image: url(ad-channel/redminote8-ad.jpg);
  background-size: contain;
}
div.channel-ad > div.ad-group > span.ad03 {
  background-image: url(ad-channel/xiaomicc9-ad.jpg);
  background-size: contain;
}
